<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cascade Assets</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="container">
  <h1>Sample Cascade Pages</h1>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Static</h2>
      <p>Static samples use static views to simulate content from the production WWW site. </p>
      <ul>
        <li><%= link_to 'Home Page', '/home_page/sample' %></li>
        <li><%= link_to 'Ad Landing Page', '/ad_landing_page/sample' %></li>
        <li><%= link_to 'One Column Hero Side Panel', '/one_column/hero_side_panel' %></li>
        <li><%= link_to 'One Column Landing Page', '/one_column/landing_page' %></li>
        <li><%= link_to 'One Column Brochure Page', '/one_column/brochure_page' %></li>
        <li><%= link_to 'One Column Law Theme', '/one_column/law_theme' %></li>
        <li><%= link_to 'Two Column Page', '/two_column/sample' %></li>
        <li><%= link_to 'Two Column Form', '/two_column/form' %></li>
        <li><%= link_to 'Two Column Law Theme', '/two_column/law_theme' %></li>
        <li><%= link_to 'Three Column Page', '/three_column/sample' %></li>
        <li><%= link_to 'Three Column College', '/three_column/sample-college' %></li>
        <li><%= link_to 'Three Column Form on Right', '/three_column/form_on_the_right' %></li>
        <li><%= link_to 'Three Column Law Theme', '/three_column/law_theme' %></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Modular</h2>
      <p>Modular samples use Content Type controllers and Data Definition objects to more closely emulate the data structures and organization in Cascade.</p>
      <ul>
        <li><%= link_to 'Ad Landing Page', '/modular/ad_landing' %></li>
        <li><%= link_to 'One Column Page', '/modular/one_column' %></li>
        <li><%= link_to 'Two Column Page', '/modular/two_column' %></li>
        <li><%= link_to 'Two Column Law School', '/cascade/law' %></li>
        <li><%= link_to 'Three Column Page', '/modular/three_column' %></li>
      </ul>
   </div>
    <div class="col-md-4">
      <h2>OmniNav</h2>
      <p>The OmniNav navbar is built and distributed from Cascade Assets.</p>
      <ul>
        <li><%= link_to 'Static Sample', '/omninav' %></li>
        <li><%= link_to 'Static Sample v2 - Home', '/omninav_v2/home' %></li>
        <li><%= link_to 'Static Sample v2 - 1 Column Law', '/omninav_v2/1col/law' %></li>
        <li><%= link_to 'Static Sample v2 - 2 Column', '/omninav_v2/2col' %></li>
        <li><%= link_to 'Static Sample v2 - 2 Column Communication', '/omninav_v2/2col/communication' %></li>
        <li><%= link_to 'Static Sample v2 - 3 Column', '/omninav_v2/3col' %></li>
        <li><%= link_to 'Static Sample v2 - 3 Column Communication', '/omninav_v2/3col/communication' %></li>
      </ul>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Chapman University</p>
  </footer>
</div> <!-- /container -->
