<h1>Sample Cascade Pages</h1>

<h2>Home Page Sample Pages</h2>
<ul>
<% @home_page_pages.each do |page| %>
  <li><%= link_to page.titleize, "/home_page/#{page}" %></li>
<% end %>
</ul>

<h2>One Column Sample Pages</h2>
<ul>
  <li><%= link_to 'Modular Sample', "/modular/one_column" %></li>
<% @one_column_pages.each do |page| %>
  <li><%= link_to page.titleize, "/one_column/#{page}" %></li>
<% end %>
</ul>

<h2>Two Column Sample Pages</h2>
<ul>
  <li><%= link_to 'Modular Sample', "/modular/two_column" %></li>
<% @two_column_pages.each do |page| %>
  <li><%= link_to page.titleize, "/two_column/#{page}" %></li>
<% end %>
  <li><%= link_to 'Law School ContentType Sample', "/cascade/law" %></li>
</ul>

<h2>Three Column Sample Pages</h2>
<ul>
  <li><%= link_to 'Modular Sample', "/modular/three_column" %></li>
<% @three_column_pages.each do |page| %>
  <li><%= link_to page.titleize, "/three_column/#{page}" %></li>
<% end %>
</ul>

<h2>Ad Landing Sample Pages</h2>
<ul>
  <li><%= link_to 'Modular Sample', "/modular/ad_landing" %></li>
  <% @ad_landing_pages.each do |page| %>
    <li><%= link_to page.titleize, "ad_landing_page/#{page}" %></li>
  <% end %>
</ul>