<ul class="virtualTour-subCategories map-subcats" data-partial="map-subcats">

	<li class="virtualTour-subCategory">

		<fieldset>

			<legend>{{{title}}}</legend>

			<input class="virtualTour-categoryCheckbox parent icon"
				   id="{{name}}"
				   name="{{name}}"
				   type="checkbox"
				   value="{{name}}" />

			<label class="icon virtualTour-categoryCheckboxLabel" for="{{name}}">
				<span class="changeCheckbox">Select All</span>
			</label>

		</fieldset>

	</li>

	{{#each subCats }}
		<li class="virtualTour-subCategory" data-search-terms="{{ searchTerms }}">

			<fieldset>

				<legend>{{{ displayName }}}</legend>

				<input
					class="virtualTour-categoryCheckbox child"
					data-latitude="{{lat}}"
					data-longitude="{{lng}}"
					data-address="{{address}}"
					data-secondary-address="{{secondaryAddress}}"
					data-city="{{city}}"
					data-state="{{state}}"
					data-zip="{{zip}}"
					data-phone="{{phone}}"
					data-site="{{site}}"
					data-office-hours="{{officeHours}}"
					data-href="example-one.html"
					{{#if streetview}}data-streetview="{{streetview}}"{{/if}}
					id="{{id}}"
					name="aid"
					type="checkbox"
					value="{{id}}" />

				<label class="icon virtualTour-categoryCheckboxLabel" for="{{ id }}">
					<span>{{{ displayName }}}</span>
				</label>

			</fieldset>

		</li>
	{{/each}}

</ul>
