<li class="virtual-tour-block virtualTour-subCategory"
    data-partial="virtual-tour-block"
    data-search-terms="{{searchTerms}}">

	<div class="content">

		<label for="{{id}}">
			<h3>
				<a class="go-to-info virtualTour-subCategoryLink"
				   href="example-one.html"
				   data-id="{{id}}">{{displayName}}</a>
			</h3>
		</label>

		<input class="vt-data"
			data-id="{{id}}"
			data-href="example-one.html"
			data-latitude="{{lat}}"
			data-longitude="{{lng}}"
			data-name="{{displayName}}"
			id="{{id}}"
			name="{{name}}"
			type="hidden"
			value="{{id}}" />

		{{#if video.active}}
			<div class="video button-group">
				<button class="button small primary pointer watch-video media-button active" data-id="{{id}}" data-type="video">
					Watch Video
				</button>
				<button class="button pointer undo">
					Back to Map
				</button>
			</div>
		{{/if}}

		{{#if audio.active}}
			<div class="audio button-group">
				<button class="button small pointer listen-audio media-button active" data-id="{{id}}" data-type="audio">
					Listen to Audio
				</button>
				<button class="button small pointer undo">
					Back to Map
				</button>
			</div>
		{{/if}}

	</div>

	<div class="img">
		<img src="{{img}}" alt="{{img-alt}}" />
	</div>

</li>
