<%#
  # This file mirrors, or parodies, the Cascade VTL script at /_cascade/formats/level/Masthead
  #
  # It uses snakeCase variable to match those used in Cascade as closely as possible.
  #%>

<% # These import statements below don't do anything. They just mirror what's in Cascade. %>
<% #import( "/_cascade/formats/helpers.velocity" ) %>

<%
# VTL variables from Data Definition
mastheadType = current_page.get_child_value(:masthead_type)
showMasthead = 'TODO'
showImage = 'TODO'

# Branded vars
brandedMastheadDisplaysImage = current_page.get_child_value(:branded_old_display_image)

# Slider vars
displaySlider = 'Yes'

# Boxes vars
showBoxes = 'Yes'
%>

<% if mastheadType == 'No Masthead' %>
  <!-- mastheadType: "No Masthead" -->

<% elsif mastheadType == 'Branded - New' %>
  <!-- mastheadType: "Branded - New" -->
  <%
  brandedNewHeader = current_page.get_child_value(:branded_header)
  brandedNewImagePath = current_page.get_child_value(:branded_image_path)
  brandedNewAltText = current_page.get_child_value(:branded_alt_text)
  %>

  <div class="masthead-branded-v201611">
    <div class="grid">
      <div class="column image">
        <img alt="<%= brandedNewAltText %>" src="<%= brandedNewImagePath %>"/>
        <div class="photo-by">
          A hard-coded caption!
        </div>
      </div>
      <div class="column header theme-bg-color">
        <h2 class="header"><%= brandedNewHeader %></h2>
      </div>
    </div>
  </div>

<% elsif mastheadType == 'Slider - New' %>
  <!-- mastheadType: "Slider - New" -->
  <%
    slides = current_page.select_nodes('v201611/slider/slides/slide')

    # In VTL: #set( $b = $a.replace("\n", "<br/>") )
    header = current_page.select_single_node_value('v201611/slider/header').gsub('\n', '<br/>')
    firstSubtitle = slides.first.select_single_node_value('subTitle').gsub('\n', '<br/>')

    subheaderClass = ( firstSubtitle != '' ) ? 'present' : 'absent'
  %>

  <div class="slider version-201611">
    <div class="hidden slideOptions">
        <div class="autoRotate">On</div>
    </div>

    <div class="grid">
      <div class="column image">
        <div class="rounded-slider">
          <div class="rotatorContainer">
            <div class="flex-container">
              <div class="flexslider">
                <ul class="slides">
                  <% slides.each do |slide| %>
                    <%
                      slideSubtitle = slide.select_single_node_value('subTitle').gsub('\n', '<br/>')
                      slideImagePath = slide.select_single_node_value('image/path')
                      slideImageAltText = slide.select_single_node_value('altText')
                      slidePhotoBy = slide.select_single_node_value('photoBy')
                    %>
                    <li class="slide">
                      <img alt="<%= slideImageAltText %>" src="<%= slideImagePath %>"/>

                      <%## Subtitle will be swapped out dynamically upon slide. %>
                      <input class="slideSubtitle"
                             type="hidden"
                             value="<%= slideSubtitle.html_safe %>"/>

                      <% if slidePhotoBy != '' %>
                        <div class="photo-by">
                          Photo by: <%= slidePhotoBy %>
                        </div>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column header theme-bg-color">
        <div class="aligned">
          <h2 class="header"><%= header.html_safe %></h2>
          <div class="subheader <%= subheaderClass %>">
            <hr />
            <h4><%= firstSubtitle.html_safe %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

<% elsif mastheadType == 'Branded Masthead' &&  brandedMastheadDisplaysImage == 'Yes' %>
  <!-- mastheadType: "Branded Masthead" -->
  <%
  brandedMastheadHeader = current_page.get_child_value(:branded_old_header)
  brandedMastheadSubtitle = current_page.get_child_value(:branded_old_subtitle)
  brandedMastheadImagePath = current_page.get_child_value(:branded_old_image_path)
  brandedMastheadAltText = 'brandedMastheadAltText'
  brandedMastheadClass = (brandedMastheadSubtitle != '') ? 'masthead-new captionOnTop'
                                                         : 'masthead-new'
  %>

  <div class="brandedMastheadContainer">
    <div class="<%= brandedMastheadClass %>">
      <img alt="<%= brandedMastheadAltText %>" src="<%= brandedMastheadImagePath %>"/>
      <div class="caption">
        <% if brandedMastheadSubtitle != '' %>
          <p class="subTitle">
            <%= brandedMastheadSubtitle %>
          </p>
        <% end %>
        <% if brandedMastheadHeader != '' %>
          <h2><%= brandedMastheadHeader %></h2>
        <% end %>
      </div>
    </div>
  </div>

<% elsif mastheadType == 'Slider' && displaySlider == 'Yes' %>
  <!-- mastheadType: "Slider" -->
  <%
    # VTL Format: #set ( $slides = $_XPathTool.selectNodes($masthead, 'slider/slides/slide') )
    slides = current_page.select_nodes('old/slider/slides/slide')
  %>

  <div class="hidden slideOptions">
      <div class="autoRotate">On</div>
  </div>

  <div class="rounded-slider">
    <div class="rotatorContainer">
      <div class="flex-container">
        <div class="flexslider">
          <ul class="slides">
            <% slides.each do |slide| %>
              <%
                slideHeader = slide.select_single_node_value('header')
                slideSubtitle = slide.select_single_node_value('sub-title')
                slideDescription = slide.select_single_node_value('description')
                slideLinkUrl = slide.select_single_node_value('link/link')
                slideInternalLinkPath = slide.select_single_node_value('link/internalLink/path')
                slideFileLinkPath = slide.select_single_node_value('link/fileLink/path')
                slideImagePath = slide.select_single_node_value('image/path')
                slideImageAltText = slide.select_single_node_value('altText')
                slideBackground = slide.select_single_node_value('text-background')
                slideQuoteAuthor = slide.select_single_node_value('quote-author')
                slideCaptionAlign = slide.select_single_node_value('align')

                # Set slide href.
                if slideInternalLinkPath != '/'
                  slideCaptionHref = slideInternalLinkPath
                elsif slideInternalLinkPath == '/' && slideLinkUrl != ''
                  slideCaptionHref = slideLinkUrl
                elsif slideInternalLinkPath == '/' && slideLinkUrl == '' \
                  && slideFileLinkPath != '/'
                  slideCaptionHref = slideFileLinkPath
                else
                  slideCaptionHref = ''
                end

                # Set slide class.
                if slideBackground == 'Transparent Black'
                  slideMastheadClass = 'masthead-new quote'
                elsif slideBackground == 'Solid Red' && slideSubtitle != ''
                  slideMastheadClass = 'masthead-new captionOnTop'
                else
                  slideMastheadClass = 'masthead-new'
                end
              %>

              <li class="slide">
                <div class="<%= slideMastheadClass %>">
                  <img alt="<%= slideImageAltText %>"
                       src="<%= slideImagePath %>"/>

                  <div class="caption align-<%= slideCaptionAlign %>">
                    <% if slideHeader != '' %>
                      <% if slideCaptionHref != '' %>
                        <a href="<%= slideCaptionHref %>">
                          <h2><%= slideHeader %>&#160;»</h2>
                        </a>
                      <% else %>
                        <h2><%= slideHeader %></h2>
                      <% end %>

                      <% if slideDescription != '' %>
                        <p><%= slideDescription %></p>

                        <% if slideQuoteAuthor != '' %>
                          <span class="author"><%= slideQuoteAuthor %></span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% elsif mastheadType == 'Boxes' && showBoxes == 'Yes' %>
  <!-- mastheadType: "Boxes" -->
  <h3>TODO: Render Boxes Masthead</h3>

<% elsif showMasthead == 'Yes' && showImage == 'Yes' %>
  <!-- mastheadType: "Old Masthead" -->
  <h3>TODO: Render Old Masthead</h3>

<% else %>
  <!-- mastheadType: base case (no match, no masthead) -->

<% end %>
