<!-- partial:dap-graduate-form -->
<form id="js-dap-graduate-form" class="dap-graduate-form" action="">
	<legend class="show-for-sr">Search for Graduate Degrees and Programs</legend>
	<fieldset>

		<input type="hidden" name="type" value="graduate">
		
		<div id="js-dap-graduate-program-types" class="program-types">
			<div class="row">

				<!-- Program Types Radios -->
				<div class="columns small-12">
					<h4 class="subsection-heading">Degrees &amp; Programs:</h4>
				</div>
				<div class="columns small-12 medium-6">
					<div class="field-container">
						<label class="program-type button" for="dap-graduate-program-all">
							<input id="dap-graduate-program-all" name="dap-graduate-program-all" type="checkbox" value="all" />
							<div class="inner">
								{{svg "check"}}
								<span>All Graduate Programs</span>
							</div>
						</label>
					</div>
				</div>
				<div class="columns small-12 medium-6">
					<div class="field-container">
						<label class="program-type button" for="dap-graduate-program-master">
							<input id="dap-graduate-program-master" name="dap-graduate-program-master" type="checkbox" value="masters,dual/joint,integrated/4+1,accelerated 3+2" />
							<div class="inner">
								{{svg "check"}}
								<span>Masters Programs</span>
							</div>
						</label>
					</div>
				</div>
				<div class="columns small-12 medium-6">
					<div class="field-container">
						<label class="program-type button" for="dap-graduate-program-doctoral">
							<input id="dap-graduate-program-doctoral" name="dap-graduate-program-doctoral" type="checkbox" value="doctorate" />
							<div class="inner">
								{{svg "check"}}
								<span>Doctoral Programs</span>
							</div>
						</label>
					</div>
				</div>
				<div class="columns small-12 medium-6">
					<div class="field-container">
						<label class="program-type button" for="dap-graduate-program-bridge">
							<input id="dap-graduate-program-bridge" name="dap-graduate-program-bridge" type="checkbox" value="bridge,integrated/4+1,accelerated 3+2,post-baccalaureate,certificate,dual/joint,credential and transitional" />
							<div class="inner">
								{{svg "check"}}
								<span>Accelerated, Bridge, &amp; Special Programs</span>
							</div>
						</label>
					</div>
				</div>

			</div>
		</div>

		<div id="js-dap-graduate-filter-types" class="filter-types">
			<div class="row">

				<!-- Filter by Schools and Colleges -->
				<div class="columns small-12 large-5">
					<div class="field-container custom-select-container">
						<label for="dap-graduate-school" class="show-for-sr">Filter by Schools and Colleges</label>
						<select name="dap-graduate-school" id="dap-graduate-school">
							<option disabled="disabled" selected="selected" value="none">Filter by Schools and Colleges</option>
							<option value="all">All Schools and Colleges</option>
							{{#parseFixture 'dap-feature.json'}}
						    	{{#each schools}}
						    		<option value="{{id}}">{{{title}}}</option>
					    		{{/each}}
						    {{/parseFixture}}
						</select>
					</div>
				</div>

				<!-- Or Separator -->
				<div class="columns small-12 large-2">
					<div class="or-separator">
						<span>Or</span>
					</div>
				</div>

				<!-- Search for Degrees and Programs -->
				<div class="columns small-12 large-5">
					<div class="field-container">
						<label for="dap-graduate-keyword" class="show-for-sr">Search for Degrees and Programs</label>
						<input id="dap-graduate-keyword" name="dap-graduate-keyword" class="input-with-button" type="text" placeholder="Search Degrees &amp; Programs">
						<button type="submit">
							<span class="show-for-sr">Search for Degrees and Programs</span>
							{{svg "search"}}
						</button>
					</div>
				</div>

			</div>
		</div>

	</fieldset>
</form>
<!-- end partial:dap-graduate-form -->
