<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport" />
  <title><%= params[:page].to_s.titleize %></title>

  <%# Removed Facebook og meta property tags. %>

  <!-- scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= javascript_include_tag 'master' %>

  <!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  <%= stylesheet_link_tag 'master', media: 'all' %>

  <%# Removed Facebook connect script. %>
  <%# Removed Google Analytics script. %>
  <%# Removed Google Analytics outbound link tracking script. %>
  <%# Removed Eloqua tracking script. %>
</head>

<!--[if lt IE 7]> <body class="ie6 oldie""> <![endif]-->
<!--[if IE 7]>    <body class="ie7 oldie""> <![endif]-->
<!--[if IE 8]>    <body class="ie8 oldie""> <![endif]-->
<!--[if gt IE 8]><!-->
<body>
  <!--<![endif]-->
  <span class="hidden">
    <a href="#main" title="Skip navigation and jump directly to the main content of this page">
      Jump to the main content of this page
    </a>
  </span>

  <div id="fb-root"></div>

  <div class="noscript">
    <p>Some of the content on this website requires JavaScript to be enabled in your web browser to function as intended. This includes, but is not limited to: navigation, video, image galleries, etc. While the website is still usable without JavaScript, it should be enabled to enjoy the full interactive experience.</p>
  </div>

  <div id="container">
    <header>
      <%= yield %>
    </header>

    <div class="homepage" id="main" role="main">
      <h1>OmniNav Demo</h1>
      <p>
        This page is intended only to demonstrate the OmniNav navbar at top as build by the
        Omninav library.
      </p>

      <h4>Table Issue</h4>
      <p>See <a href="https://github.com/chapmanu/cascade-assets/issues/203">Github Issue #203</a></p>

      <table border="1" cellpadding="5" style="width: 100%; border-color: #313131; border-width: 1px; border-style: solid;">
        <tbody>
          <tr>
            <td valign="top">
              <p><b>Program </b></p>
            </td>
            <td nowrap="nowrap" valign="top">
              <p><b>Admission Counselor</b></p>
            </td>
            <td nowrap="nowrap" valign="top">
              <p><b>Department</b></p>
            </td>
            <td nowrap="nowrap" valign="top" width="148">
              <p><b>Program Contact</b></p>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <p>Accounting (MS)</p>
            </td>
            <td valign="top" width="178">
              <p>Victoria Kausemeyer<br> (714) 628-2898<br> <a href="mailto:kausmeye@chapman.edu">kausmeye@chapman.edu</a></p>
            </td>
            <td valign="top" width="163">
              <p>Argyros School of <br> Business &amp; Economics<br> (714)&nbsp;997-6684<br> (714)&nbsp;532-6081 (fax)</p>
            </td>
            <td valign="top" width="166">
              <p>Dawn Brewer<br> (714) 744-7694<br> <a href="mailto:dbrewer@chapman.edu">dbrewer@chapman.edu</a></p>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <p>Behavioral and Computational Economics</p>
            </td>
            <td nowrap="nowrap" valign="top">
              <p>Eva Yen<br> (714)&nbsp;997-6711 ext. 7391<br> <a href="mailto:eyen@chapman.edu">eyen@chapman.edu</a></p>
            </td>
            <td nowrap="nowrap" valign="top">
              <p>Argyros School of <br> Business &amp; Economics<br> (714)&nbsp;628-2830<br> (714)&nbsp;628-2881 (fax)</p>
            </td>
            <td nowrap="nowrap" valign="top" width="166">
              <p>Cyndi Dumas<br> (714) 516-4513<br> <a href="mailto:dumas@chapman.edu">dumas@chapman.edu</a></p>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <p>MBA, Full time <br> MBA,&nbsp;Professional<br> MBA, Prague<br> MBA, Joint Programs</p>
            </td>
            <td nowrap="nowrap" valign="top">
              <p>Serena Healey<br> (714) 516-7190<br> <a href="mailto:healey@chapman.edu">healey@chapman.edu</a></p>
            </td>
            <td nowrap="nowrap" valign="top">
              <p>Argyros School of <br> Business &amp; Economics<br> (714)&nbsp;997-6684<br> (714)&nbsp;532-6081 (fax)</p>
            </td>
            <td nowrap="nowrap" valign="top" width="166">
              <p>Dawn Brewer<br> (714) 744-7694<br> <a href="mailto:dbrewer@chapman.edu">dbrewer@chapman.edu</a></p>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <p>MBA,&nbsp;Executive</p>
            </td>
            <td nowrap="nowrap" valign="top">
              <p>Victoria Kausemeyer<br> (714) 628-2898<br> <a href="mailto:kausmeye@chapman.edu">kausmeye@chapman.edu</a></p>
            </td>
            <td nowrap="nowrap" valign="top">
              <p>Argyros School of <br> Business &amp; Economics<br> (714)&nbsp;997-6684<br> (714)&nbsp;532-6081 (fax)</p>
            </td>
            <td nowrap="nowrap" valign="top" width="166">
              <p>Dawn Brewer<br> (714) 744-7694<br> <a href="mailto:dbrewer@chapman.edu">dbrewer@chapman.edu</a></p>
            </td>
          </tr>
        </tbody>
      </table>

      <%= render 'widgets/shared/footer' %>
    </div>
  </div>
</body>
</html>